body{
    background-color:white;
}
.gokaruna{
  position: relative;
  background: url(b3.jpg);
    min-height: 97vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.nav-item{
    font-size: 20px;
}



#box{
    margin-top: -95px;
    border-radius: 0%;
    padding: 45px 55px 55px 55px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #23272b;
}
.bg-dark1{
    background-color: #000000;
}


.page-footer a{
    color: #d5dadb;
    text-decoration: inherit;

}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.page-footer li,h6 {
    color: #d5dadb;
}
p[class="mt-2"],div[class="footer-copyright text-center py-3"]{
    color:#d5dadb;}

.gokaruna-v2{
  position: relative;
  background: url(b4.jpg);
  min-height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.gokaruna-v3{
    position: relative;
    background: url(b7.jpg);
    min-height: 70vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}


#slide {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-right: 60px;
}

#imgg {
  flex: 50%;
  padding: 0 4px;
}

#imgg img {
  margin-top: 8px;
   flex: 50%;
  vertical-align: middle;
  border-radius: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-xyz {
  color: black;
  background-color: white;
  border-color: white;
  border-radius: 0;
}
.btn-xyz:hover {
  color: #fff;
  background-color: black;
  border-color:black;
}
.btn-outline-abc {
  color: white;
  border-radius: 0;
  border-color: white;
}
.btn-outline-abc:hover {
  color: #fff;
  background-color: black;
  border-color:black;
}


.row1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column1 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column1 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column1 {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column1 {
        flex: 100%;
        max-width: 100%;
    }
}