body{
    background-color:rgba(235, 235, 235, 0.952);
}
.gokaruna{
  position: relative;
  background: url(bkgnd.jpg);
  min-height: 87vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.nav-item{
    font-size: 20px;
}
#box{
    margin-top: -90px;
    border-radius: 0%;
    padding: 45px 55px 55px 55px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}